
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="~/lib/FodaoJS.js"></script>
    <script src="~/js/Login/Login.js"></script>
</head>

<body>
    <header>
        <h2>Login</h2>
    </header>

    <div>

        <li>
            <label>Usuário:</label>
            <input type="text" value="" id="txtUsuario" />
        </li>

        <li>
            <label>Senha:</label>
            <input type="text" value="" id="txtSenha" />
        </li>
        <li> </li>
        <li>
            <input type="button" value="A" id="btnA" />
            <input type="button" value="B" id="btnB" />
            <input type="button" value="C" id="btnC" />
        </li>
        <li>
            <input type="button" value="1" id="btn1" />
            <input type="button" value="2" id="btn2" />
            <input type="button" value="3" id="btn3" />
        </li>
        <li> </li>
        <li>
            <input type="button" value="autenticar" onclick="index.autenticar()" />
        </li>

    </div>

    <footer> </footer>
</body>
</html>

